body{
    background-color:navy
}

body{
    color:darkgoldenrod
}

.topnav{
    background-color:navy
}

body{
    font-family: 'Raleway', sans-serif;
}

*{
padding:0;
margin:0;

}

/*
nav bar styling
*/

nav{
    background-color: navy;
    height:50px;
    padding: 0;
    margin: 0;
}

nav ul li{
    list-style-type: none;
    width: 150px;
    float: left;
    border-right: 1px solid goldenrod;
    text-align: center;
    
}

nav ul li a{
    text-decoration: none;
    color: goldenrod;
    line-height: 50px;
    display: block;
}

li a:hover{
    background-color:cornflowerblue; 
    color: navy;

}